.carousel-caption {
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}

footer {
    color: white;
    background-color: #343a40;
    font-size: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.h-70 {
    height: 70%;
}


    


