<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <title>Clinic Project</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> <b> Clinic System </b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>

      <div class="mx-2">
        <button style="margin: 5px" class="btn btn-danger" data-toggle="modal" data-target="#loginModal">
          <a style="color: white" href="javascript:void(0);" routerLink="/doclogin">Login as Receptionist</a>
        </button>
        <button style="margin: 5px" class="btn btn-danger" data-toggle="modal" data-target="#loginModal">
          <a style="color: white" href="javascript:void(0);" routerLink="/adlogin">Login as Admin</a>
        </button>
      </div>
    </div>
  </nav>

  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/1.jpg" class="d-block w-100 h-70" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <button class="btn btn-secondary btn-lng">
            <h2>Welcome to Clinic System</h2>
          </button>
          <p class="buttons">
            <button class="btn btn-danger">Experienced Doctor</button>
            <button class="btn btn-primary">Advanced Treatement</button>
            <button class="btn btn-success">Best Clinical OutComes</button>
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/2.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <button class="btn btn-secondary btn-lng">
            <h2>Digitize your appointments</h2>
          </button>
          <p></p>
          <button class="btn btn-danger">Experienced Doctor</button>
          <button class="btn btn-primary">Advanced Treatement</button>
          <button class="btn btn-success">Best Clinical OutComes</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/3.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <button class="btn btn-secondary btn-lng">
            <h2>Prevention is better than cure!</h2>
          </button>
          <p></p>
          <button class="btn btn-danger">Experienced Doctor</button>
          <button class="btn btn-primary">Advanced Treatement</button>
          <button class="btn btn-success">Best Clinical OutComes</button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <footer class="">
    <p>Contact : 0000 0000 00</p>
    <p>2025 Edubridge Project.</p>
  </footer>
</body>

</html>